@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<hr />
<div class="row" >
    <div class="col-md-4">
        <h2>Daniel Donevski</h2>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
            sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/profile.php?id=100000681240284">Facebook &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Damyan Pazvanski</h2>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
            sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
        </p>
            <a class="btn btn-default" href="https://www.facebook.com/damyan.pazvanski?fref=ts">Facebook &raquo;</a>
    </div>

    <div class="col-md-4">
        <h2>Teodor Dumanov</h2>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
            sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p> 
        <p>
            <a class="btn btn-default" href="https://www.facebook.com/teodor.dumanov?fref=ts">Facebook &raquo;</a>
        </p>
    </div>
</div>