@{
    ViewBag.Title = "Home Page";
}

<div id="title-back" class="jumbotron">
    <h1>OUR <span id="imdb">IMDb</span></h1>
    <p class="lead">The Internet Movie Database is an online database of information related to <br /> television programs.</p>
</div>
<article>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
        </ol>
        <div id="slaider" class="carousel-inner" role="listbox">
            <div class="item" style="transform: none;">
                <img class="slade-images" data-src="holder.js/1140x500/auto/#777:#555/text:First slide" alt="First slide [1140x500]" src="https://litreactor.com/sites/default/files/images/column/headers/mr.-robot-key-art.jpg" data-holder-rendered="true">
            </div>
            <div class="item active">
                <img class="slade-images" data-src="holder.js/1140x500/auto/#666:#444/text:Second slide" alt="Second slide [1140x500]" src="http://images.latintimes.com/sites/latintimes.com/files/styles/large_breakpoints_theme_lt_desktop_1x/public/2015/11/16/norman-reedus.png" data-holder-rendered="true">
            </div>
            <div class="item">
                <img class="slade-images" data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide [1140x500]" src="http://www.nerdist.com/wp-content/uploads/2014/10/GAME-OF-THRONES.jpg" data-holder-rendered="true">
            </div>
            <div class="item">
                <img class="slade-images" data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide [1140x500]" src="http://images.huffingtonpost.com/2015-06-17-1434504624-2643893-dexter.jpg" data-holder-rendered="true">
            </div>
            <div class="item">
                <img class="slade-images" data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide [1140x500]" src="http://www.dailyavenue.com/wp-content/uploads/2016/01/Gotham-Fox-Series.jpg" data-holder-rendered="true">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</article>
<hr/>
<h2>News</h2>
<hr/>
<div class="row">
    <div class="col-md-4" id="news1">
        <h2>The Walking Dead's Norman Reedus Teases a 'Mind-Blowing' Season 7</h2>
        <p class="textt">
            Norman Reedus feels our pain. He knows that fans of The Walking Dead are 
            going through hell having to endure a whole summer wondering what happens in the Season 7 premiere....
         </p>
        <p><a class="btn btn-default" href="http://tvline.com/2016/06/04/the-walking-dead-season-7-spoilers-daryl/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" id="news2">
        <h2>Mr. Robot’: Sam Esmail Talks Shooting Season 1’s Big Reveal</h2>
        <p class ="textt">
            Fittingly for a show partially set in an abandoned amusement park, the first season of USA’s “Mr. Robot”
            was full of twists and turns that routinely knocked the audience off its footing...
        </p>
        <p><a class="btn btn-default" href="http://variety.com/2016/tv/awards/mr-robot-sam-esmail-season-one-reveal-1201787721/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" id="news3">
        <h2>Game of Thrones: Season 7 to feature just seven episodes</h2>
        <p class="textt">
            If it's seemed like Game of Thrones has been gearing up to a close since season six began,
            <strong>that's because it probably is....</strong>
        </p>
        <br />
        <p><a class="btn btn-default" href="http://www.independent.co.uk/arts-entertainment/tv/news/game-of-thrones-season-7-to-feature-just-seven-episodes-jack-bender-season-6-hodor-lost-a7061686.html">Learn more &raquo;</a></p>
    </div>
</div>