@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMDb</h1>
    <p class="lead">The Internet Movie Database is an online database of information related to <br /> television programs.</p>
</div>
<h2>News</h2>
<hr />
<div class="row">
    <div class="col-md-4" id="news1">
        <h2>The Walking Dead's Norman Reedus Teases a 'Mind-Blowing' Season 7</h2>
        <p class="textt">
            Norman Reedus feels our pain. He knows that fans of The Walking Dead are 
            going through hell having to endure a whole summer wondering what happens in the Season 7 premiere....
         </p>
        <p><a class="btn btn-default" href="http://tvline.com/2016/06/04/the-walking-dead-season-7-spoilers-daryl/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" id="news2">
        <h2>Mr. Robot’: Sam Esmail Talks Shooting Season 1’s Big Reveal</h2>
        <p class ="textt">
            Fittingly for a show partially set in an abandoned amusement park, the first season of USA’s “Mr. Robot”
            was full of twists and turns that routinely knocked the audience off its footing...
        </p>
        <p><a class="btn btn-default" href="http://variety.com/2016/tv/awards/mr-robot-sam-esmail-season-one-reveal-1201787721/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" id="news3">
        <h2>Game of Thrones: Season 7 to feature just seven episodes</h2>
        <p class="textt">
            If it's seemed like Game of Thrones has been gearing up to a close since season six began,
            <strong>that's because it probably is....</strong>
        </p>
        <br />
        <p><a class="btn btn-default" href="http://www.independent.co.uk/arts-entertainment/tv/news/game-of-thrones-season-7-to-feature-just-seven-episodes-jack-bender-season-6-hodor-lost-a7061686.html">Learn more &raquo;</a></p>
    </div>
</div>